

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* logo replacement */

header#site-header h1 { position:absolute; left:10px; top:10px; }
header#site-header h1 a { display:block; width:200px; height:200px; background:url(images/logo.png) top center no-repeat; text-indent:-9999px; }

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('Fonts/League_Gothic-webfont.eot');
    src: url('Fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/League_Gothic-webfont.woff') format('woff'),
         url('Fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('Fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.pagewrapper {
		width:960px;
		margin:0 auto;
		height:800px;
}

  
body {
	width:960px;
	margin:0 auto;
	background-color:white;
	height:900px;
}

header{
	height:120px;

}
	
header img {
	width:100px;
	height:100px;
	margin:0px 0px 0px 350px;
}

h2 {
	font-family:helvetica;
	padding:0px 0px 0px 300px;
	
}

article {
		float:left;
		margin:30px;
		width:400px;
		line-height:13px;
}


li {
	padding:50px 0px 0px 20px;
}

#circle {
	width: 100px;
	height: 100px;
	background:#AC8D2B;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	border-radius: 100px;
	margin: -20px 0px 0px 390px;
}


#circle1 {
	width: 200px;
	height: 200px;
	background:#D1A119;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 300px;
	margin: -15px 0px 0px 90px;
}

#circle2 {
	width: 300px;
	height: 300px;
	background:#E2B21B;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 300px;
	margin: -20px 0px 0px 350px;
}

#circle p {
	font-size:16px;
	font-family:helvetica;
	text-align:center;
	padding:25px 0px 0px 2px;
	line-height:18px;
	color:white;
}


#circle1 li {
	font-size:30px;
	font-family:helvetica;
	text-align:center;
	padding:60px 0px 0px 0px;
	line-height:35px;
}

#circle2 p {
	font-size:35px;
	text-align:center;
	font-family:helvetica;
	padding:70px 0px 0px 0px;
	color:white;
	line-height:40px;
	
}


#circle2 form {
	font-size:13px;
	text-align:center;
	font-family:helvetica;
	padding:20px 0px 0px 5px;
	color:white;
	
}

#footer {
	height:200px;
	}

a {
	text-decoration:none;
	color:white;
}
