

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



#site-wrapper {
	background-color:#744918;
	height:105px;
	width:1362px;

}

  #pagewrapper { width:100%; margin:0 auto; max-width:1024px; }
  #content { float:left; width:63%; margin-left:1%; }
  #sidebar { float:right; width:33%; margin-right:1%; }
  #mobile-nav { display:none; }
  
    @media screen and (max-width:400px) {
    #content { float:none; width:98%; margin:0 1%; }
    #sidebar { float:none; width:98%; margin:0 1%; }
    #pagewrapper { float:none; width:98%; margin:0 1%; }


#site-header {
		height:83px;
		width:1362px;
		margin:0 auto;
}


#top-nav {
		position:absolute;
		text-decoration:none;
		font-family:helvetica;
		font-size:8px;
		color:brown;
		top:5px;
		left:750px;
}

header img {
		position:absolute;
		margin-left:170px;
		height:82px;
}
		
nav ul {
	position:absolute;
	font-family:helvetica;
	margin-left:160px;
}

nav li {
	float:left;
	font-family:helvetica;
	padding:10px;
	font-size:11px;

}

#top-nav a {
	text-decoration:none;
	color:#744918;
	
}

#main-menu a {
	text-decoration:none;
	color:white;
	
}

#menu-wrapper {
	background-color:#744918;
}

article {
		float:left;
		margin:0 auto;
		width:300px;
		line-height:13px;
		font-family:helvetica;
		font-size:8px;
}

#content-wrapper {
		height:450px;
		background-color:#AC8D2B;
		width:1362px;
}

#content {
		margin-left:140px;
		width:1362px;
		padding:30px;
}

h1 {
		font-size:30px;
		font-family:lobster;
		padding-bottom:10px;
		color:#744918;
}

h2 {
		font-size:14px;
		position:relative;
		font-family:helvetica;
		line-height:30px;
		color:#744918;
}

aside {
		padding-left:60px;
		padding-top:30px;
		
		
		
}


#sidebar h1 {
		font-size:14px;
		position:relative;
		font-family:helvetica;

}

#sidebar {
		float:left;
		margin:0 auto;
		width:170px;
		line-height:13px;
		font-family:helvetica;
		font-size:8px;
		
}

#sidebar img {
		float:left;
		width:150px;
		padding-bottom:5px;
		padding-top:5px;
		
}


#footer-contact h1{
		position:relative;
		font-family:helvetica;
		font-size:14px;
		padding-top:15px;
		color:white;
		margin-left:170px;
		
}


#footer-contact p {
		float:left;
		width:130px;
		font-family:helvetica;
		font-size:10px;
		line-height:12px;
		color:white;
		margin-left:170px;
}

#footer-follow h1{
		position:relative;
		font-family:helvetica;
		font-size:15px;		
		color:white;
		margin-left:540px;
}

#footer-follow img{
		float:left;
		height:35px;
		padding:5px;
}

#site-footer {
		background-color:#744918;
		width:1362px;
		height:150px;
		border-top:25px solid pink;
		position:relative;
}

#footer-wrapper {
		background-color:#fcf7f7;
		
}